<div class="card p-3" [class.seccion-oculta]="seccionCrearVisible">

  <div class="row">
    <div class="col-12">
      <div class="text-center fw-bold fs-3 p-3">
        <label>Suspiros Pastelería</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      @for (elemento of pasteles; track elemento; let indice=$index) {
        <app-tarjeta (productSelected)="obtenerNombreProducto($event)" [indice]="indice" [pastel]="elemento" class="p-3"></app-tarjeta>
      }
    </div>
    <div class="col-4">
      <div class="card p-3 mt-4">
        <div class="row">
          <div class="col-12">
            <label>Ingredientes</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <ul>
              @for (ingrediente of pasteles[indiceSeleccionado].ingredientes; track ingrediente) {
                <li>{{ingrediente}}</li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-11 d-flex justify-content-end">
      <button class="btn btn-primary" (click)="flipSection()">Agregar Pastel</button>
    </div>
  </div>
</div>

<div class="card p-3" [class.seccion-oculta]="!seccionCrearVisible">
  <div class="row pb-3">
    <div class="col-4">Nombre Producto</div>
    <div class="col-8">
      <input type="text" class="form-control" [(ngModel)]="nombre">
      <label [class.mensaje-error-oculto]="contieneNombre" class="text-danger fs-6">Falta el nombre del producto</label>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-4">Descripción</div>
    <div class="col-8">
      <input type="text" class="form-control" [(ngModel)]="descripcion">
      <label [class.mensaje-error-oculto]="contieneDescripcino" class="text-danger fs-6">Falta la descripción del producto</label>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-4">Nombre Imagen</div>
    <div class="col-8">
      <input type="text" class="form-control" [(ngModel)]="nombreImagen">
      <label [class.mensaje-error-oculto]="contieneImagen" class="text-danger fs-6">Falta el nombre de la imagen</label>
    </div>
  </div>
  <div class="row pb-3">
    <div class="row-12 d-flex justify-content-end">
      <button class="btn btn-danger me-3" (click)="flipSection()">Cancelar</button>
      <button class="btn btn-success" (click)="agregarProducto()">Guardar</button>
    </div>
  </div>
</div>


